*{
  overflow-x: hidden;
  font-family: Ubuntu;
  text-align: center;
}
h3{
  padding: 15px;
  margin: 10px 0;
}

header{
  background-image: url('../assets/backgrounds/h_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
header>.container{
  /* background-color:red; */
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header>.container>.head-part{
  /* background-color: blue; */
  margin-top: 13%;
  color: white;
}
header>.container>.head-part img{
  padding: 10px;
  margin-bottom: 10px;
}
header>.container>.mouse-click{
  /* background: green; */
  padding: 10px 10px 10px 10px;
}
#mouse-click{
  padding-top : 45px;
	animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-55px);
  }
  60% {
    transform: translateY(-45px);
  }
}
/**************
*ABOUT section*
***************/
#about{
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
#about>.container{
  display: flex;
  justify-content: center;
  align-items: center;

}

#about>.container>.row>.a-text{
  /* background-color: green; */
  padding: 10px;
}

/***************
*service section*
****************/
#service{
  background-color: blue;
  background-image: url("/assets/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#service>.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#service>.container>.row>.a-text{
  /* background-color: green; */
  padding: 10px;
}

/*******************
*what we do section*
********************/
#wwd{
  /* background-color:green; */
  padding: 10px;
  margin: 20px auto;
}
#wwd>.container-fluid{
  min-height: 28vh;
}


/*******************
*portfolio section*
********************/
#portfolio{
  /* background-color:brown; */
  padding: 20px;
  margin: 20px 0;
}
#portfolio>.container>.row img{
  margin: 20px auto;
}

/*******************
*contact us section*
********************/
#contact{
  background-image: url("/assets/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#contact>.container{
  margin: 30px auto;
}

input[type=text][type=email]{
  width: 400px;
}
input::placeholder{
  text-align: left;
}

/*******************
*footer section*
********************/
footer{
  padding: 10px;
  margin: 20px 0 0 0;
}

footer>.container>.row img{
  padding: 10px;
}

.copyright{
  padding-top: 10px;
  font-size: 15px;
}